#about {
    display: flex;
    width: 100vw;
    padding: 2%;
    padding: 2%;
    text-align: left;
    min-height: fit-content;
    justify-content: center;
    background-color: var(--black-transparent);
}

 #about > p {
    font-size: 15px;
    width: 50%;
}

img {
    padding-left: 2%;
    width: 20em;
}