main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-bottom: 2%;
    mix-blend-mode: difference;
    margin: auto;
}

.page-container {
    border-style: solid;
    padding: 10px;
    background: black;
    width:100%;
    border-color: black;
    height: fit-content;
    mix-blend-mode: difference;
}