.outer-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 5%; */
    margin: auto;
    width: 600px;
    max-width: 75%;

}

.carousel-container {
    /* margin: 0; */
    margin-bottom: 10%;
}

.chevron {
    border-style: solid;
    width: 5%;
    border-color: white;
    color: white;
    padding: 3%;
}

.chevron:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.carousel-image {
    position: relative;
    border-style: solid;
    border-color: white;
    height: 800px;
    width: 800px;
    object-fit: cover;
    padding: 0;
}

@media only screen and (max-width:850px) {
    .carousel-image {
        position: relative;
        height:400px;
        width: 400px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 500px) {
    .carousel-image {
        height: 300px;
        width: 300px;
        object-fit: cover;
    }
}