body {
    margin: 0;
    background-color: black;
    background-image:url(../public/assets/background.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    z-index: -1;
    animation: fadeIn ease 3s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

/* Page Styling */

.img-container {
    max-height: 80vh;
}

.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 2%;
    border-color: white;
    min-height: fit-content;
}

.banner-img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
    width: 80%;
    margin: auto;
}

@media only screen and (max-width:768px) {
    .banner{
        display: grid;
        grid-template-columns: 1fr;
    }
    .banner-img {
        width: 300px;
    }
}

.left-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    font-size:2vw;
}

.right-align {
    display: flex;
    justify-content: center;
    width: 50vw;
}

.booking {
    background-color: transparent;
    padding: 5px;
    color: white;
    font-size: large;
    border-color: white;
    border-style: ridge;
}

@media only screen and (max-width: 500px) {
    .calendar-container > iframe {
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .calendar-container > iframe {
        height: 200px;
        width: 200px;
    }
}

@media only screen and (max-width: 250px) {
    .calendar-container > iframe {
        height: 150px;
        width: 150px;
    }
}


table, th, td {
    border: 2px solid;
}

table {
    border: 2px;
    text-align: left;
    color:white;
}

table > tr> th {
    padding-top: 12px;
    padding-bottom: 12px;
    font-weight: bold;
    color:white;
}

td {
    padding: 8px;
}




