:root {
    --black-transparent: rgba(0, 0, 0, 0.75);
}

.sm-spacer {
    margin-top: 2%;
}

body {
    color: black;
}

.bold {
    font-weight: bold;
}

.title {
    font-size: 80pt;
    background-color: black;
    border-style: solid;
    color: whitesmoke;
}