#hero {
    background-color: var(--black-transparent);
}

.banner {
    display: flex;
    width: 100vw;
    align-items: center;
    /* height: 300px; */
    padding: 2%;
    border-color: white;
    /* margin-top: 100px; */
    min-height: fit-content;
}

.banner-img {
    height: 25em
}

.banner > .text-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5%;
    text-align: left;
}