#hero {
    background-color: var(--black-transparent);
}

.banner > .text-vertical {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; */
    padding: 5%;
    text-align: left;
    font-size: 2vw;
}